#loader {
  top: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family:"Srisakdi";
    margin: 0;
    font-size: 4em;
  }
}
